[2019-03-22 19:40] wafels commented on #246
Yes, that works.  I will adapt the code to count encounters.  I will also generalize this so that we can allow for different names, as we may want to count all kinds of transits.  So maybe one field of `trajectory_name` and another one of `trajectory_count`.  So for PSP we can have `trajectory_name: "encounter"` and for planetary transits `trajectory_name: "transit"`

[2019-03-25 10:43] ebuchlin commented on #247
Seems to be solved now... (at least at the GSFC helioviewer.org, we still have to catch up). However there are several other periods where the number of AIA images in the image timeline is suspiciously low, like 2016-05-27 to 2016-06-05 in all wavelengths, while there are AIA data. Is there a systematic search for data gaps?

[2019-06-03 16:29] wafels commented on #239
This has been added to helioviewer.org

[2019-06-03 16:29] #239 closed, assigned to wafels

[2019-06-03 16:33] wafels opened #259 "What are the time ranges for warning about late data on the status page for KCor?"
KCor (as of now) is showing red on the [status page](https://api.helioviewer.org/status/).  What are the time ranges for triggering red?  I would suggest the following time ranges:

yellow - more than one day
orange - more than 3 days
red - more than 7 days

This accommodates the fact that KCor is ground based.

[2019-06-03 16:53] Helioviewer-Kirill commented on #259
Time ranges are bespoke to the individual detector.
Default value for triggering red is 12 hrs.
I've implemented your desired time ranges for COSMO Kcor.

[2019-06-03 16:53] #259 closed, assigned to nobody

[2019-07-15 16:39] wafels commented on #187
The code to do this is now in SunPy.

[2019-07-18 18:38] shessweb opened #260 "Missing AIA 171 data"
There is a data gap in the AIA 171 channel data from 2015-Jul-15 12:00 through 2015-Jul-17 00:00, although the data are available in the JSOC database and seem fine at a cursory glance. The other wavelength channels have data available during that period, albeit fewer observations than normal.

[2019-07-30 21:37] wafels commented on #260
Confirmed.  Looks like all files from 2015-Jul-16 AIA 171 is completely missing.

[2019-07-30 21:53] wafels commented on #257
Confirmed

[2019-07-30 21:53] #257 closed, assigned to nobody

[2019-07-30 21:54] wafels commented on #255
Probably due to a local and temporary network problem.  Has this re-occurred?

[2019-07-30 21:57] wafels commented on #223
Now implemented on the main website

[2019-07-30 21:57] #223 closed, assigned to nobody

[2019-07-30 22:01] wafels opened #261 "Broken links when Data download window is set to open, then revisited later"
I went to helioviewer.org, opened up the data download window, summary images appeared as expected, then closed helioviewer.org (destroyed the tab), then re-opened again.  The links to the summary images were broken.

<img width="1409" alt="Screen Shot 2019-07-30 at 5 56 52 PM" src="https://user-images.githubusercontent.com/983575/62168539-c72e2d00-b2f3-11e9-9698-95dff5cad311.png">

[2019-08-07 15:45] Helioviewer-Kirill commented on #261
Fixed

[2019-08-08 18:40] Helioviewer-Kirill commented on #260
I have backfilled this time range to catch up with the data available from JSOC.
Thanks for the report.

[2019-08-08 19:25] wafels commented on #260
Confirmed as fixed. Thanks for the report and the fix!

[2019-08-08 19:25] #260 closed, assigned to nobody

[2019-08-08 19:29] wafels commented on #200
Might be able to pull out the grid feature from SunPy map to create a Stonyhurst grid that can be passed to helioviewer.org

[2019-08-08 19:31] wafels commented on #246
Closing this issue since the PSP trajectory code is now operational

[2019-08-08 19:31] #246 closed, assigned to nobody

[2019-08-08 19:46] wafels opened #262 "Point of view selector"
Once image re-projection has been implemented, helioviewer.org should have some way of selecting the point of view from which the images are shown.  This will help separate the point of view from the images.  Changing the point of view will cause all the data in the viewer window to be re-projected from that point of view.  In the first example, only a few different points of view will be availabl

[2019-08-08 19:47] wafels commented on #261
Confirmed

[2019-08-08 19:47] #261 closed, assigned to nobody

[2019-08-19 20:23] wafels opened #263 ""About helioviewer.org""
Should include a reference to SunPy in the section "Helioviewer.org makes use of the following tools"
[SunPy](sunpy.org) - Python-based solar physics software
<img width="511" alt="Screen Shot 2019-08-19 at 4 17 30 PM" src="https://user-images.githubusercontent.com/983575/63296586-729c2300-c29d-11e9-8cfa-e93faffc5089.png">

[2019-09-07 10:05] mirabehnn opened #264 "Why don't you have a patreon?!!"
Thank you for making this! I use this site a LOT, and would love to support you, but there is no link to do so. Can you make a patreon so we can help you continue development or at least help pay for site hosting?

[2019-09-09 16:00] wafels commented on #264
Thank you for the expression of support, but we are unable to accept donations.  The Helioviewer Project is supported by funding from ESA and NASA.

The best way to support helioviewer.org is to continue to use it, and to let us know how we can make it better.  We are always interested in user feedback.

If you don't mind, could you share how you use Helioviewer?

Thanks,

Jack

[2019-09-11 15:45] mirabehnn commented on #264
I am fascinated with plasma and heliophysics, and so I use the helioviewer site to get a closer look at interesting solar events. I share what I find on youtube, facebook, and twitter together with academic papers that describe what is happening on the day.

Thank you for making the site so easy to use. I would say that the only thing that may be an issue is the persistent caching, since sometimes

[2019-09-12 15:13] wafels commented on #136
The AIA 304 channel is now fixed.

[2019-09-13 20:44] wafels opened #265 "An extra layer of feature and event drill-down"
Often there are multiple features/events for each detection method.  Hovering over each detection method highlights the events on the Sun detected using that method.  It is not possible to highlight a single feature/event.  Having the ability to open a list of all the features/events for a given feature/event detection method, and then having the same hover/highlight method that occurs at the feat

[2019-09-16 17:21] Helioviewer-Kirill commented on #265
Using the following viewport:

[Helioviewer Example Observation](https://helioviewer.org/?date=2019-09-02T15:30:29.000Z&imageScale=2.42044088&centerX=0&centerY=0&imageLayers=%5BSDO,AIA,304,1,100,0,60,1,2019-09-04T11:10:10.000Z.000Z.000Z%5D&eventLayers=%5BAR,all,true%5D,%5BCC,all,true%5D,%5BCD,all,true%5D,%5BCH,all,true%5D,%5BCJ,all,true%5D,%5BCE,all,true%5D,%5BCR,all,true%5D,%5BCW,all,true%5D,%5BE

[2019-09-17 06:53] wafels commented on #265
*> To clarify, your request is about being able to split those observations
under Coronal Holes > SPoCA into another sub-tree which lists the ID
numbers of the observation, in the example above "30721" and "30766", so
that they can be highlighted and selected using the side-bar UI with more
granularity?*

Yes, that's it.

On Mon, Sep 16, 2019 at 1:21 PM Kirill V. <notifications@github.com> wrote:

[2019-10-09 15:20] Anthrwpos opened #266 "STEREO-A and SOHO"
Hi, why these images don't have any updates for almost 2 months?
I read [this](http://blog.helioviewer.org/2019/09/09/delay-to-lasco-c2-and-c3-images/), with STEREO-A, is the same? Thanks

[2019-10-09 21:05] Helioviewer-Kirill commented on #266
We apologize for the delay to SOHO LASCO and STEREO-A images caused by an issue in the conversion pipeline.
We hope to restore service as quickly as possible, but are currently unable to give an estimate.
Thank you for your patience as we work on a fix to resolve this issue.

[2019-10-10 15:45] Anthrwpos commented on #266
Just curious, thanks for update.

[2019-10-15 22:54] Derflinger-Bruce opened #267 "Typo in User Guide 3.1.0"
You have a typo; Events spelled Evetns

Helioviewer.org User Guide 3.1.0
Getting to Know Helioviewer.org
Elements of Helioviewer.org
Panel 12 - Events Timeline
third paragraph: Events Timeline Navigation
You have Events spelled Evetns - you might want to check and correct that

[2019-11-05 17:46] simplio opened #268 "Images lag behind SDO Sun Now web."
There is a serious lag in time especially with tha AIA 171 and AIA 304 images. All others are delayed. Very cumbersome for this web service.

[2019-11-11 23:50] simplio commented on #268
Helioviewer.org is behind 6 hours.

[2019-11-12 17:32] Helioviewer-Kirill commented on #268
Thanks for your report. We've investigated this issue and resolved it.
Images on Helioviewer should be much more up to date.

[2019-11-12 17:32] #268 closed, assigned to nobody

[2019-11-14 17:01] simplio opened #269 "Mainetenance for 24 hours so far"
How long is maintenance? it has been over 24 hours.

[2019-11-15 00:19] Anthrwpos opened #270 "''u-psud.fr wants to access your Google Account'' IT IS SAFE TO UPLOAD FROM " .u-psud.fr/. " ?"
Hi, after https://helioviewer.org/ is down for maintenance, and i try to upload from https://helioviewer.ias.u-psud.fr/, it says this:
![Untithhjhjled](https://user-images.githubusercontent.com/20747347/68906710-e55a5480-074d-11ea-9aa0-c3b7a76084af.png)
**IT IS SAFE TO UPLOAD FROM .u-psud.fr/.?**

image from https://helioviewer.org/ with maintenance note:
![Untitjhjhjled](https://user-images.githu

[2019-11-15 06:44] bogdanni commented on #270
You can trust https://helioviewer.ias.u-psud.fr/, it is a mirror Helioviewer site.

[2019-11-15 17:01] simplio opened #271 "helioviewer.ias.u-psud.fr Behind 2 Days 1 Hour"
helioviewer.ias.u-psud.fr is outdated by 2 days 1 hour. Please fix it.

[2019-11-15 20:34] Anthrwpos commented on #270
ok, but google says this when i choose my account:
![Unthjhjhjhitled](https://user-images.githubusercontent.com/20747347/68973874-ffe90800-07f7-11ea-9762-1d2c8f31907c.png)

[2019-11-15 23:51] wafels commented on #271
We are endeavoring to fix this.  Apologies for the delay in the appearance of new images.

[2019-11-16 01:14] simplio opened #272 "helioviewer.org behind 2 days AGAIN!"
Here we are again. 2 days behind. ESA/NASA funded but all this re-occurence shouldnt be happening.

[2019-11-18 18:55] simplio commented on #272
We're up to 5 days behind and counting

[2019-11-20 21:27] Anthrwpos opened #273 "helioviewer.org is open but can't create a movie"
helioviewer.org is open but can't create a movie, why?

[2019-11-21 20:05] simplio commented on #272
Seems to be up to date for now. I hope it sticks. Thanks!

[2019-11-21 20:05] #272 closed, assigned to nobody

[2019-11-21 20:05] #271 closed, assigned to nobody

[2019-11-21 20:06] #269 closed, assigned to nobody

[2019-12-07 11:57] simplio opened #274 "Helioviewer Behing Current SDO Images"
Last images from SDO on Helioviewer is at 12/06/2019 23:59 GMT at 055GMT 12/7/2019. Latest SDO Images from SDO Sun Now is at that time 11:45 GMT 12/7/2019. You're 5 hours behind. This is a reoccurring issue every month.

[2019-12-29 00:20] wireeye commented on #266
Almost 2020 now and  SOHO LASCO and STEREO-A images has not updated since November. Can't this issue be resolved?

[2020-01-05 18:15] wireeye opened #275 "SOHO, LASCO"
Good day to you, I was wondering if SOHO, LASCO is ever going to be fixed it has not been updated since Nov. 2019 it is now Jan. 5th 2020.
Thanks for your time in advance.

[2020-01-06 21:52] wafels commented on #275
Many apologies for the lack of SOHO LASCO data.  SOHO LASCO data will return.  We are still implementing the fix.

[2020-01-08 17:19] ebuchlin commented on #273
Hello, could you be more specific? Which instance of the helioviewer.org app, what have you tried to do, what happened? Is the movie marked as "Queued" in the list? I just tested on https://helioviewer.ias.u-psud.fr/ and movies can be created.

[2020-02-12 16:40] wafels commented on #275
Images are back.  Apologies again for the delay.

[2020-02-12 16:40] #275 closed, assigned to nobody

[2020-02-12 16:41] #264 closed, assigned to nobody

[2020-03-16 13:27] simplio commented on #274
Again, here it is March 16 2020. Helioviewer is 3 days behind showing data from March 13 2020. Why is this happening? A nice active region moving over the Northeast limb right now in SDO The sun now webpage. Please fix helioviewer.

[2020-03-17 22:25] wafels commented on #274
Fixed.

[2020-03-17 22:25] #274 closed, assigned to nobody

[2020-03-17 22:27] wafels opened #276 "Better logging for features and events"
The interaction between the HEK and helioviewer should have better logging.

[2020-03-20 18:23] Helioviewer-Kirill commented on #276
Added more detailed logging to the importEvents api
https://github.com/Helioviewer-Project/api/commit/257a9cb452d9e1807d3e516ac440704fa0bb9455

[2020-03-26 17:55] #276 closed, assigned to nobody

[2020-04-07 11:59] simplio opened #277 "Helioviewer Queue Issue & Mobile optimization"
I tap on ok to create movie then it stays in queue despite it saying 3 minutes to make a movie. This is using Chrome on Android latest version updated from Play Store. Also please optimize it for mobiles because trying to expand the sun by two finger method doesn't work. We have to use the zoom -/+ buttons. Needs alot of work or make a new Android app version of Jhelioviewer please. Old Helios jus

[2020-05-04 20:00] ginnymc opened #279 "cursor measurement feature has disappeared"
The ability to measure positions with the cursor has disappeared.  This was a useful feature, and I hope it will return!

[2020-05-12 20:21] wafels commented on #279
Thanks for using helioviewer.org!

We have temporarily disabled the cursor's ability to report its position on the Sun.  This is because the position being calculated is not as accurate as we would like it to be.  Therefore, to ensure that our users are not being given incorrect information, we disabled this feature.

We intend to bring this feature back as soon as we have implemented more accurat

[2020-05-12 20:34] ginnymc commented on #279
That is a shame since I have incorporated the Helioviewer into my Intro Astronomy Lab course.  Is it possible to bring it back with a cautionary message, perhaps?

Thanks,
Ginny McSwain

----
M. Virginia McSwain
Associate Professor of Physics
Lehigh University

[2020-05-18 15:01] wafels opened #280 "Remove the conversion of UTC times to other times"
Every time "UTC" is moused-over the Julian time and Carrington rotation number are displayed.  This should be removed as it is a complication that the student version of helioviewer should not have.

[2020-05-18 15:06] wafels opened #281 "Remove Coronal Hole pop up"
The coronal hole pop-up contains a start and end time.  This start and end time corresponds to when the measurements were made, not the duration of the coronal hole.  This is confusing and should be removed. Since there is no other information in the pop-up which does not already exist in the pin label, the pop-up should be removed.

[2020-05-18 15:08] wafels opened #282 "Remove sunspot pop-up"
The sunspot pop-up contains a start and end time. This start and end time corresponds to when the measurements were made, not the duration of the sunspot. This is confusing and should be removed. Since there is no other information in the pop-up which does not already exist in the pin label, the pop-up should be removed.

[2020-05-18 15:10] wafels opened #283 "Remove times from the active region pop-up"
The active region pop-up contains a start and end time. This start and end time corresponds to when the measurements were made, not the duration of the sunspot. This is confusing and should be removed. The other information in the pop-up is appropriate and should be kept.

[2020-06-03 11:57] helioshk opened #284 "Minimum movie length is 10s, despite field decription says 5-100s"
When defining a movie duration of less than 10s, the movie will be 10s long.
(tried it with HMI continuum)

[2020-06-13 21:26] wireeye opened #285 "Low definition"
I noticed that movies I post on youtube from your site is now in low definition why is that? I also always give full credit to Helioviewer.org for images and videos made from this site.

Thanks in advance for your reply.
👍

[2020-07-27 19:30] wafels opened #286 "Carrington rotation in the time step selector"
A user has pointed out that helioviewer.org has a 28 day time step selection, but not one that is one solar rotation.  The standard for a solar rotation is the mean synodic Carrington rotation time, 27.2752612 days.  The option of stepping by this time step should be included in helioviewer.org

[2020-07-28 19:28] wafels commented on #286
This is equivalent to  2356582.56768 seconds (=27.2752612*24*60*60).  A good label for it in the drop-down is "Carrington rotation" and it should be selectable between the "1 week" and "28 days" options.

[2020-08-15 22:29] wireeye commented on #285
Need to remove the HD settings if you can't fix this issue it is misleading. I wrote in Jun and this problem still hasn't been fixed.

[2020-08-21 18:59] Helioviewer-Kirill commented on #285
Hello,

Thanks for bringing this issue to our attention.  In order to help, we would like to ask you for some additional information so we can fully understand the issue.

1. Could provide links to the video and screenshots of the setting you used when creating the video?
2. Are you using the "Full Viewport" or "Select area" option?
3. What is your screen resolution?
4. What images are you making

[2020-08-21 19:40] wireeye commented on #285
![Screenshot_2020-08-21 Helioviewer org(2)](https://user-images.githubusercontent.com/35879228/90928495-f8790f80-e3c4-11ea-83c2-a176baed5ffa.png)
Thanks for reply. While making videos using  SDO AIA  set to  "Original" setting when viewed on youtube or bitchute it has real low definition I am suing a flate screen tv for my computer monitor set at 1360x768
![Screenshot_2020-08-21 Helioviewer org(1)

[2020-08-21 20:05] Helioviewer-Kirill commented on #285
Thanks for these screenshots.

Can you post a link to the YouTube video after you upload it?
Are you using the "Full Viewport" or "Select area" option?

[2020-08-21 20:26] Helioviewer-Kirill commented on #286
Feature Added to [Helioviewer.org](https://helioviewer.org)

[2020-08-21 20:26] #286 closed, assigned to Helioviewer-Kirill

[2020-08-21 20:56] wireeye commented on #285
Here is a screen shot. SDO 171
![Screenshot_2020-08-21 Active region of the sun AIA 171 (2020-05-21 05 15 21 - 2020-05-25 15 21 21 UTC) - YouTube](https://user-images.githubusercontent.com/35879228/90934375-2f542300-e3cf-11ea-8069-261d471a5ffe.png)

[2020-10-08 13:42] johan12345 opened #288 "STEREO-B COR2 images not showing"
Hi, I have noticed that STEREO-B COR2 images don't seem to work at the moment. The web interface simply does not display the image, the API response looks like this:

[code]

[2020-10-08 16:49] Helioviewer-Kirill commented on #288
Hi,
Thanks for bringing this issue to our attention.
It seems you have uncovered a larger issue with COR2-B data availability and we have disabled this data source on helioviewer for now.
We're working on re-generating these images.

[2020-10-09 07:04] johan12345 commented on #288
Thanks!

[2020-11-16 15:56] Helioviewer-Kirill commented on #288
We've re-generated all STEREO-B COR2 images and they are now available on [https://www.Helioviewer.org](https://www.Helioviewer.org)!

[2020-11-17 08:31] johan12345 commented on #288
Indeed, COR2-B works now. Thank you!

[2020-11-17 08:31] #288 closed, assigned to nobody

[2020-12-06 15:00] wireeye opened #289 "Not updating"
Question, I noticed that the LASCO C3 hasn't updated since Nov. 5th. Why is that?  Thank you for your time in advance.

![Screenshot_2020-12-06 Helioviewer org](https://user-images.githubusercontent.com/35879228/101283666-e40d2700-37a9-11eb-9390-f03568693317.png)

[2020-12-07 17:04] #280 closed, assigned to nobody

[2020-12-07 17:04] #281 closed, assigned to nobody

[2020-12-07 17:04] #282 closed, assigned to nobody

[2020-12-07 17:04] #283 closed, assigned to nobody

[2021-01-28 23:59] wireeye commented on #285
Greetings to you, I still wish to inquire  as to why the 720p HD still isn't working on the helioviewer website. It doesn't work on the SDO, SOHO or the stereo-A, On the SOHO LASCO C2 I thought about trying the 720p since it had been so long ago since I wrote about the problem, but even using full screen it said "sorry we were unable to create the movie you requested" blah, blah. Have you tried to

[2021-02-04 13:32] madjarska opened #290 "X, Y coordinates"
Hello,

In earlier versions of the Helioviewer there was the option showing the X, Y heliocentric coordinates when moving the mouse on the solar disk image.  Unfortunately this option is not anymore available. Is there a possibility to be put back or somehow the user to switch it on?

Thank you

Kind regards
Maria Madjarska

[2021-02-09 15:53] sdaval opened #291 "No display?"
I may just be an idiot, but I have been trying to use this tool for a lesson today and cannot get anything to display within the program. It was working fine when I tested the tool yesterday, my only guess is that servers are down.
![HVissue](https://user-images.githubusercontent.com/78810027/107389762-ad5ed000-6abc-11eb-9ef1-4b5a7e386796.png)

[2021-02-09 21:00] wireeye commented on #291
It isn't working on my computer either. On https://sohowww.nascom.nasa.gov/data/Theater/  website there isn't a problem with making movies with their tools. So maybe https://www.helioviewer.org/ is just updating.

[2021-02-10 18:08] ebuchlin commented on #291
The people responsible of the site are aware of the problem and are trying to solve it. In the meantime, you can try https://helioviewer.ias.u-psud.fr/ , we have (normally) a full mirror of the GSFC data. Known issues: HEK queries and Youtube movie upload don't work.

[2021-02-13 16:56] Anthrwpos opened #292 "from the https://helioviewer.ias.u-psud.fr/ , cant upload videos"
Hi, from this site https://helioviewer.ias.u-psud.fr/, i cant upload videos, it shows error:

"Authorization error
Error 400: redirect_uri_mismatch
The redirect URI in the request, https://helioviewer-api.ias.u-psud.fr/?action=uploadMovieToYouTube&html=true, does not match the ones authorized for the OAuth client. To update the authorized redirect URIs, visit: https://console.developers.google.com

[2021-02-16 18:56] wireeye opened #293 "No images"
https://www.helioviewer.org/  isn't showing any images, none of the satellite filters show an image. SDO, SOHO, stereo-A and so on. is there a bug still not fixed?
![Screenshot_2021-02-16 Helioviewer org](https://user-images.githubusercontent.com/35879228/108108512-b4f31b80-705e-11eb-83d5-6703a6573b86.png)

[2021-02-18 20:46] wireeye opened #294 "Images but can't make movie"
Greetings, I had written before about Helioviewer no showing images, That problem is fixed now, But the moviemaker is unable to make movies now. After selecting the desired time frame it will start loading for a few seconds then say "We are unable to create in the  time  you requested. Please select a different time range and try again. (max number of clients reached) The image timeline shows ther

[2021-02-19 14:00] wafels commented on #294
Apologies for the issues with Helioviewer.org in the past few days.  I believe that movie creation is now working again.  Please let us know if the issues continue.

[2021-02-19 14:00] #294 closed, assigned to nobody

[2021-02-19 14:02] wafels commented on #293
Recent solar images should now be available.  Apologies for the delay in getting our services back up and running.

[2021-02-19 14:02] #293 closed, assigned to nobody

[2021-02-19 20:19] wireeye opened #295 "Sorry, still not able to create movie"
Greetings, The problem still lingers. I am getting the same message as before. I have made many movies for about five or six years, so I know I am doing the right procedure and yet the movie creator won't create a movie. I am sending the screen shot.
![Screenshot_2021-02-19 Helioviewer org](https://user-images.githubusercontent.com/35879228/108557004-e0c40a80-72c5-11eb-9e6b-c92db7cdbc0a.png)

[2021-02-19 20:42] wafels commented on #295
Thanks again for the report.

I just tried helioviewer.org myself and I see that some of the same problems from last week and earlier this week are re-asserting themselves. I think I know what is causing the issues, and have performed a temporary fix that should permit movie making. I was able to make a movie as a test.

Solving the problem more thoroughly will require some more diagnosis.  My apo

[2021-02-20 17:11] Anthrwpos commented on #292
why from the specific website, cannot upload movies?

[2021-02-27 16:52] Anthrwpos commented on #295
still not able to create movie?

[2021-02-27 16:54] Anthrwpos opened #296 "cant' create movie for a week, but I see others uploading. why?"
cant' create movie for a week, but I see others uploading. why?

[2021-02-27 17:16] Anthrwpos commented on #296
Is there any answer about it??

[2021-03-02 01:31] ichibanrob opened #297 "Youtube quota error trying to upload a video"
{"error":"Failed to start the resumable upload (HTTP 403: youtube.quota, The request cannot be completed because you have exceeded your quota<\/a>.)","errno":0}

I assume this happened because you are an awesome website and have more people using it. If not, then maybe it needs to be fixed.
--Rob

[2021-03-05 19:17] Anthrwpos opened #298 "Why we can't create a movie at the weekend? Or Late Friday?"

[2021-03-07 04:06] ichibanrob commented on #297
Upload is working again. I uploaded yesterday and just a few minutes ago successfully at helioviewer.org.

[2021-03-22 01:45] Hesselen commented on #295
I and my students are seeing this error message tonight as well (March 21, 2021).  I am both unable to create a movie and unable to load previously created movies.  For example, I previously uploaded a movie to youtube at https://youtu.be/2U9TSa98l2k , the link back to the movie within helioviewer in the youtube description is no longer working.  Other video link examples no longer loading for me:

[2021-04-01 13:17] wafels commented on #298
We apologize for the degraded service.  We are still trying to track down the source of the problems, but we have just implemented a fix that should allow users to create movies over the weekend and late Friday.

[2021-04-01 13:21] wafels commented on #297
Thank you for reporting back. Sorry for the earlier issues.

[2021-04-01 13:21] #297 closed, assigned to nobody

[2021-04-01 13:34] wafels commented on #295
Thank you for the error report and the specific links to movies.  I was not able to get to those movies either.  I will file an issue.

[2021-04-01 13:38] wafels opened #299 "Links to movies do not work"
In issue #295 a user reports not being able to find previously made movies using the helioviewer link provided.  The linking functionality appears to be broken for at least some movies.  As a guess, there may be an issue with the movie database.

[2021-04-01 13:38] #291 closed, assigned to nobody

[2021-06-03 13:15] MrCauthers opened #300 "Wiki down"
http://wiki.helioviewer.org/ page is blank, all links in Interactive Tutorial lead to 404 page.

[2021-06-23 13:15] #298 closed, assigned to nobody

[2021-06-23 13:15] #296 closed, assigned to nobody

[2021-06-23 13:16] wafels commented on #295
Movies are able to be made.

[2021-06-23 13:16] #295 closed, assigned to nobody

[2021-06-23 13:18] wafels commented on #136
AIA 1700 images, and maybe 1600 images, are dark again. Re-opening this issue

[2021-06-23 13:19] wafels commented on #289
Recent data is available now.

[2021-06-23 13:19] #289 closed, assigned to nobody

[2021-06-23 13:19] #247 closed, assigned to nobody

[2021-06-23 13:23] bogdanni commented on #136
There is now [aiapy](https://gitlab.com/LMSAL_HUB/aia_hub/aiapy) which provides calibration data for the response.

[2021-06-27 03:46] DawnMarieMueller opened #312 "Helioviewer website is not accessible 2021-JUNE-26"
Hello.  I, and others in the U.S.A., are unable to access the Helioviewer website.  Error msg:  "This page isn't working right now."

I looked up Heliophysics.org website on DomainTools.com WHOIS search engine.  The site appears registered to NASA/GreenbeltMD.  I am unable to reach anyone at NASA to find out why the website is not accessible.

     https://whois.domaintools.com/helioviewer.org

AR

[2021-06-27 06:22] ebuchlin commented on #312
Hello,
https://helioviewer.ias.u-psud.fr/ is accessible. The latest AIA 17.1nm data we have right now is from 2021-06-27T06:16:22.
However, please note that these data are mirrored from helioviewer.org, so if the whole webserver at helioviewer.org is down (and not just the main website with the helioviewer app), we won't get the latest data. That doesn't seem to be the case today, so we have recen

[2021-06-27 10:36] simplio commented on #312
Not true. Helioviewer France is reported newest data 6-25!

[2021-06-27 11:05] ebuchlin commented on #312
Sorry I looked the wrong field. But 2021-06-25 is also the latest date available on the directories of helioviewer.org where we mirror from, so at least these images can be seen on https://helioviewer.ias.u-psud.fr/ while the web app at https://helioviewer.org/ is down.

[2021-06-27 11:12] simplio commented on #312
I have no clue why data is down again within a week after I reported it in another issue I closed. Seems like a good stable server wont need to go down this much. IF this service is in any way connected with NASA maybe NASA should hear my two cents. Seems like its happening more and more as SC25 progresses.

[2021-06-27 11:55] DawnMarieMueller commented on #312
Yes, I am able to view the IAS mirror of Helioviewer out of France, but without current images; latest appear to be June 25th.

SolarMonitor.org seems to be pulling the current SDO AIA 193 images just fine, as well as the current SDO HMI images.  So there does not seem to be a more general barrier to accessing SDO data.

I *do* note that there was some sort of announcement last week that NASA was

[2021-06-29 21:07] tksteed opened #302 "Features and Events"
The features and events tab does not seem to be working.  Can you please help?

[2021-07-21 17:26] wireeye opened #303 "What's the time frame on Helioviewer being resurrected"
Hello, I was just wondering when or if Helioviewer will be resurrected from the dead. Is there a time frame or is it an ongoing issue thus far. Helioviewer is missed for sure. Thanks for your time,

[2021-07-28 19:26] ebuchlin commented on #312
Hello,
I am happy to report that we are now downloading recent SDO/AIA and HMI data from LMSAL (thanks to ROB for the suggestion), and so they should be available from https://helioviewer.ias.u-psud.fr/ and from JHelioViewer by selecting the layer to be added from the "IAS" server.

[2021-08-09 14:15] wafels commented on #303
The system is back up and we are monitoring it.  We apologize for the downtime.

[2021-08-09 14:15] #303 closed, assigned to nobody

[2021-08-16 21:22] #273 closed, assigned to nobody

[2021-08-16 21:26] wafels commented on #290
This functionality although useful, was not very accurate. It was removed from Helioviewer.org but will be returned in a later version when we are able to deliver more accurate coordinates. Multiple coordinate systems will also be supported.

[2021-08-16 21:26] #290 closed, assigned to nobody

[2021-08-16 21:27] wafels commented on #277
We are planning on making version 4.0 of helioviewer.org fully responsive.

[2021-08-16 21:27] #277 closed, assigned to nobody

[2021-08-16 21:31] #17 closed, assigned to nobody

[2021-08-16 21:34] wafels commented on #40
The wiki should be kept for historical reasons, but is largely out-of-date. A new wiki should be created that is more streamlined.

[2021-08-16 21:36] wafels commented on #156
This has been covered by api.helioviewer.org/statistics/bokeh.

[2021-08-16 21:36] #156 closed, assigned to wafels

[2021-08-16 21:41] #212 closed, assigned to nobody

[2021-08-16 21:42] wafels commented on #196
Might use SunPy for this.

[2021-08-16 21:49] #68 closed, assigned to wafels

[2021-08-16 21:52] #218 closed, assigned to wafels

[2021-08-16 21:55] wafels commented on #279
We did have a cautionary message, but I know that some people were ignoring it.  We plan on bringing back the co-ordinates, along with the ability to transform to other coordinate systems.

[2021-08-16 21:55] #279 closed, assigned to nobody

[2021-08-16 21:59] wafels commented on #302
The website was down then. Are you still having problems?

[2021-08-16 22:00] tksteed commented on #302
Thank you for replying.  My summer course has ended but I am gearing up for the fall semester.  Is the site back up now?

   [cid:4f56dc8c-5ae4-4b0a-9970-8f17ba37cd20]
   Karen Steed
   UAHT Math and Science Instructor,
   ***@***.***
   870-722-8272
[cid:a7fdc514-311f-4527-b971-32a69eb7b268]

________________________________
From: Jack Ireland ***@***.***>
Sent: Monday, August 16, 2021 4:59 PM
To

[2021-08-16 22:02] #255 closed, assigned to nobody

[2021-08-16 22:04] wafels commented on #302
Yes, it's back, but with a reduced AIA and HMI data cadence. This will be fixed in the coming months. There is also another version of helioviewer at https://helioviewer.ias.u-psud.fr/ should helioviewer.org have problems.

[2021-08-16 22:05] #266 closed, assigned to nobody

[2021-08-16 22:07] wafels commented on #176
Should check this using SunPy.

[2021-08-16 22:08] wafels commented on #176
Different POVs maybe???

[2021-08-16 22:23] tksteed commented on #302
Thank you.  In earlier semesters, I could assign a student a date and they could go to the active regions and it would have them labeled.  Is this something that will be available again at some point?  I just went to the site and the feature is still listed but does not flag and label the areas.

Just so you know, your helioviewer is a favorite of the students in my classes.

   [cid:ab2463bf-10d3

[2021-08-17 00:55] wafels commented on #302
Thanks! I am glad your students enjoy the website.  I apologize for the recent problems with our services.

The labeling of active regions is still available.  If you can't use it, please let me know.

[2021-08-17 00:59] wafels commented on #251
Not sure I understand this. The timeline is reporting data, but there are no images to create the thumbnails?

[2021-08-17 04:24] madjarska commented on #290
Hi Jack,

That will be great! It was not perfectly accurate but was really useful for
a quicklook.

Thanks

Cheers
Maria

On Mon, 16 Aug 2021 at 23:26, Jack Ireland ***@***.***> wrote:

--
******************************************************
Dr Maria S. Madjarska
Max-Planck Institute for Solar System Research
Justus-von-Liebig-Weg 3
37077 Göttingen, Germany

Science Editor, Web of Conferences, E

[2021-08-17 08:47] ebuchlin commented on #251
Yes, the data files were not accessible, so there were no images or thumbnails. The timeline is based on the database, which was accessible and containing the correct metadata, so it was reporting data. All this is quite logical; the issue is that in such a case the user is not told why there are no images or thumbnails, while their presence is to be expected.

[2021-08-20 13:59] wafels opened #306 "Preview Thumbnails for movies do not show up."
Old movies don't have a movie thumbnail. They should.

![Screen Shot 2021-08-20 at 09 54 53](https://user-images.githubusercontent.com/983575/130244717-799e2bd9-4da5-467e-a0a0-60ee2639019b.png)

[2021-08-20 14:06] wafels opened #329 "Movie did not put in AIA 304 when asked."
The screenshot shows the data that was on selected - AIA 304 and LASCO C3

![Screen Shot 2021-08-20 at 09 57 38](https://user-images.githubusercontent.com/983575/130245522-a53056ca-18a0-44a8-bf32-70620b735762.png)

The resulting movie

https://helioviewer.org/?movieId=SYNN5

 only shows the LASCO C3 images.  It should show both image sources.

[2021-09-08 03:43] vit1-irk opened #309 "helioviewer.org is down for the long time"
The website and API are down for a whole week (or even more), is there anyone to explain why?

[2021-09-24 09:50] UeliDeSchwert commented on #309
Still down... any news?

[2021-09-24 16:06] PabloA-dev-coder commented on #309
Maybe you can use helioviewer.ias.u-psud.fr in the meantime (movie generation won't work)

[2021-09-30 13:53] wafels commented on #309
I managed to bring helioviewer.org back online. I think it is working OK, but I am keeping an eye on it. In the meantime, please keep  helioviewer.ias.u-psud.fr bookmarked!

[2021-09-30 13:53] #309 closed, assigned to nobody

[2021-09-30 14:28] wafels opened #310 "More information in the celestial body pop-up"
The attached screenshot shows the calculated position of Mars (indicated by the text "Mars"), whereas the image shows that the planet is at a different location. The difference is because the image data is from an earlier time compared to the requested observation time. When clicking on the pop-up, the pop-up should show the observation time. This should be the relevant time for the position of th

[2021-10-04 14:13] wafels commented on #213
A responsive helioviewer.org will be released as helioviewer 4.0.

[2021-10-04 15:33] wafels opened #313 "Carrington rotation number labels no longer appear in the feature event and image time lines"
Carrington rotation number labels used to appear in the feature event and image time line functionality. Now they don't. The dotted line just to the right of the 28 Aug line in the attachment shows where the label should
 be (for the number itself see http://umtof.umd.edu/pm/crn/)

![Screen Shot 2021-10-04 at 11 32 24](https://user-images.githubusercontent.com/983575/135880347-95634052-d3c8-4e08-a

[2021-10-07 19:29] wafels opened #314 "More information for Parker Solar Probe"
Parker Solar Probe (PSP) encounters are numbered. It would aid use of the Parker Solar Probe trajectories in helioviewer if the encounters were numbered. Since all the encounters are different, this would aid scientists in understanding which encounter they are looking at

[2021-10-11 09:42] helioshk commented on #136
Hello,
AIA-1600 images are currently unusable in helioviewer and jhelioviewer, way too dark.

[2021-10-15 19:54] wafels opened #315 "Spurious re-centering when zoomed in"
When zoomed in to the solar limb, and then when clicking forwards and backwards in time, the application appears to re-center the view. This is not desirable when attempting to examine what is happening on the limb. No re-centering should occur at all.

[2021-10-16 19:40] wireeye opened #316 "LASCO C2 and C3 are a day behind"
Greetings, First I would like to say, I am glad Helioviewer is back up and running. The problem I have is that your LASCO C2 and C3 are a day behind when trying to make a movie, are you aware of this problem and if so are you working on fixing this? Thanks for your time, have a good day.  🤗

[2021-10-18 15:05] wafels commented on #316
Thank you for pointing this out. I think I have located the source of the problem. The problem was that the script that checks for new data on a regular and frequent (many times a day) basis was not running.  However, there is another script that runs once a day that attempts to fill in any gaps over the previous week. That script was picking up the data that had accumulated over the day, but only

[2021-10-30 12:34] wafels opened #317 "HEK updating correctly?"
Are the features and events from the HEK updating correctly? I am not sure. This should be checked.

[2021-10-30 16:33] AdnanBean opened #318 "Issue with interactive tutorial"
The fifth part of the interactive tutorial does not load. The screen becomes darkened, but then nothing happens.

[2021-10-30 22:28] wireeye commented on #317
Thanks for asking, stereo-A co1 and cor2 is three days behind, don't know if you can fix this problem, SDO, and SOHO seem to be spot on, If Helioviewer is on UTC time it should be four hours a head of me in my time zone, But video ends  three hours a head, so that is pretty close. Thanks for taking the time to reach out.

[2021-11-10 18:39] Anthrwpos opened #319 "Video flow is like frame by frame from AIA"
Hi, as the title says, the video it's missing some frames from AIA filters, why this happening? Or is just me? Thanks

[2021-11-17 20:31] dgarciabriseno opened #321 "Blog Link under the ? menu is incorrect"
![image](https://user-images.githubusercontent.com/94071409/142277561-e89ca28f-1b7e-47d1-8073-df8be25c07aa.png)

It should point to https://helioviewer-project.github.io/

Currently it points to http://blog.helioviewer.org/

[2021-11-19 19:27] #321 closed, assigned to nobody

[2021-12-14 16:29] wafels commented on #314
Would also be good to make it easy to skip from one encounter to another. This will make it easier to navigate to the PSP encounter times quickly. Note that a similar feature for Solar Orbiter data would also be good - once Solar Orbiter data is available in helioviewer.org

[2021-12-22 15:10] #316 closed, assigned to nobody

[2021-12-22 15:16] wafels commented on #312
Helioviewer.org is now back up, so closing this issue.

[2021-12-22 15:16] #312 closed, assigned to nobody

[2021-12-22 15:18] wafels commented on #318
I was not able to reproduce this error. Can you give some details on the browser you were using? Does the error still occur?

[2021-12-27 18:06] Anthrwpos commented on #319
Hi, any update about the above issue? In SDO all the filters have missing parts in videos. Why? Thanks

[2021-12-29 15:24] dgarciabriseno commented on #270
I looked into this recently. The problem here at least on https://helioviewer.org's side is that there are certain obligations Google is requesting in order to allow continued access to the API for public use. It will be some time before be can resolve this. For now users will have to download the video and upload it to Youtube manually.

[2021-12-30 18:29] dgarciabriseno commented on #284
Not a bug anymore. I'm able to create 5 second videos.
![image](https://user-images.githubusercontent.com/94071409/147778831-cdd56884-b341-4feb-abd2-97c33c477e37.png)

[2021-12-30 18:29] #284 closed, assigned to nobody

[2021-12-30 18:43] dgarciabriseno commented on #285
@wireeye Kirill isn't working on this project anymore so we may have to rehash some of this out. The point he was trying to make is that way videos are created is that it takes the view you're looking at and stretches it to fit the resolution you request. This can result in "low quality" if you're using a 1360x768 view and you create a 1920x1080 video. since it will just be that 1360x768 video str

[2021-12-30 18:52] dgarciabriseno commented on #299
Movie creation is working.

[2021-12-30 18:52] #299 closed, assigned to nobody

[2021-12-30 19:00] dgarciabriseno commented on #302
Events are available today.
![image](https://user-images.githubusercontent.com/94071409/147780730-262f2668-4d31-45ed-9263-fdb0e7eba133.png)

@tksteed Let us know if you're running into any issues.

[2021-12-30 19:12] dgarciabriseno commented on #306
@wafels Can you send me the ID of a movie that's missing its thumbnail?

[2022-01-05 19:01] dgarciabriseno opened #323 "Some movies created in the past are unable to be loaded."
https://helioviewer.org/?movieId=2YNN5
https://helioviewer.org/?movieId=DYNN5

The server claims they have an "Unknown Status"

Discovered while looking into issue Helioviewer-Project/api#79

[2022-01-05 19:13] dgarciabriseno commented on #323
It looks like the movie was just deleted due to age. It can be generated again with reQueueMovie given the movieId.

Moving to helioviewer.org since I think the best solution would be to have the front-end check if the movie exists, and if it doesn't, then queue it and let the user know it is processing.

[2022-01-05 19:17] dgarciabriseno commented on #323
If the movie doesn't exist, then ideally it should go into the user's movie creation list using https://api.helioviewer.org/v2/reQueueMovie/
![Untitled](https://user-images.githubusercontent.com/94071409/148275671-851029a9-e3ed-4a01-b01f-eb86f643ab12.png)

[2022-01-06 16:21] wafels opened #324 "Re-write the Helioviewer User Guide"
The Helioviewer.org User Guide should be re-written. I am considering writing it using LibreOffice and then using [Pandoc](pandoc.org) to convert it into other formats. Thoughts?

[2022-01-06 16:28] bogdanni commented on #324
Why not write it directly in Markdown and use pandoc to convert to other formats?

[2022-01-06 17:56] wafels commented on #324
Is that how the JHelioviewer docs are written?

[2022-01-06 17:57] bogdanni commented on #324
Yes.

[2022-01-10 18:28] dgarciabriseno opened #325 "Movie Player not popping up when I go to movie link"
https://helioviewer.org/?movieId=2YNN5

With movieId=<ID> the movie player is supposed to popup with that movie.

[2022-01-10 20:03] dgarciabriseno commented on #319
Hi @Anthrwpos can you send me an example video to look at?

[2022-01-10 20:18] Anthrwpos commented on #319
Hi, you can see a lot of videos in [helioviewer](https://helioviewer.org/) from users. Only from SDO>AIA videos. I don't know why this is happening

[2022-01-10 21:41] dgarciabriseno commented on #319
I see, they are choppy. It looks like right now how we're getting data is leaving some gaps. I'll work on patching this. Thanks for pointing this out.

[2022-01-11 00:47] Anthrwpos commented on #319
But in this [helioviewer](https://helioviewer.ias.u-psud.fr/#) ( .fr ), the flow it's good.

[2022-01-11 19:38] dgarciabriseno commented on #319
I updated the downloader on helioviewer.org to make sure there aren't 30 min to hour long gaps for AIA data. Newer movies (newer than 2022-01-11 16:00:00 UTC) shouldn't skip so much.
Let's keep an eye on it over the next week to see if the patch works.

[2022-01-11 19:54] dgarciabriseno commented on #318
I was able to reproduce. It's tricky.
![image](https://user-images.githubusercontent.com/94071409/149011423-331e637d-82ae-4d76-b03c-56969989418d.png)
It is displaying the tutorial next to the celestial bodies dropdown on the sidebar.
If your celestial bodies label is far down on the screen because you have multiple layers or the HEK events open, then the display will be off screen. Like this:
![im

[2022-01-11 23:47] Anthrwpos commented on #319
Ok, thanks. But why it make skips?

[2022-01-12 13:14] dgarciabriseno commented on #319
The videos are made by putting the images we have available into a movie format. Since the server had large gaps in AIA data, it looks like it's skipping.

Take this video for example: https://helioviewer.org/?movieId=JcpN5
The timestamp shows the image being displayed is 11:47:10, then the very next frame is 12:37:58. The server doesn't have any AIA 211 images between 11:47:10 and 12:37:58.
So wh

[2022-01-12 18:56] Anthrwpos commented on #319
But in [this](https://helioviewer.ias.u-psud.fr/) website, the video is smooth. Why? What's the difference?

[2022-01-12 19:01] dzarro opened #326 "Student Helioviewer Movie Error"
student.helioviewer.org hangs when making movies.

![Capture](https://user-images.githubusercontent.com/3813813/149204532-425acd67-eb50-4c5a-a64a-44838f5a733d.jpg)

[2022-01-12 20:02] Anthrwpos commented on #319
And why from [this](https://helioviewer.ias.u-psud.fr/) site i can post video, but it's private (locked) only?

[2022-01-14 15:29] btaylor-sesda commented on #325
https://helioviewer.org/?movieId=2YNN5
Currently, the pop-up from that URL only works for me in FireFox.

I wrote a patch that I'll need a way to test if we can replicate the same circumstance in Helioviewer Beta. I'll let you know what I find after adding it.

[2022-01-18 15:05] btaylor-sesda commented on #263
This appears to be resolved.

[2022-01-19 15:50] dgarciabriseno commented on #319
Sorry, was out for a while. The difference is they're independently operated servers. On our side we made a patch since we were running low on disk space, this will be resolved soon.

You can't upload to YouTube on helioviewer.org since there's some legal business that we haven't worked through with the YouTube API. I think the IAS version has the same problem. For now you'll have to work around i

[2022-01-19 15:55] dgarciabriseno commented on #326
Can you send me the Movie IDs that are failing?

You can hover over AIA 171 in Movie History and do a "copy link" and the link contains the movie ID.

[2022-01-21 15:04] dgarciabriseno commented on #319
Video flow should be smooth on helioviewer.org now, at least for dates > 01/12/2022, so I am marking this as closed.

[2022-01-21 15:04] #319 closed, assigned to nobody

[2022-01-21 15:13] dgarciabriseno commented on #317
It looks like we collect HEK data on helioviewer.org every 30 minutes, can you clarify what you mean by "updating correctly"?

[2022-01-21 15:15] dgarciabriseno commented on #315
This appears to be resolved. When I zoom into the edge of the sun and move forward/backward in time, my viewport stays where it should be.

[2022-01-21 15:15] #315 closed, assigned to nobody

[2022-01-21 16:28] wafels commented on #267
User guide will be re-written - see #324

[2022-01-21 16:28] #267 closed, assigned to nobody

[2022-01-21 16:33] wafels commented on #231
This appears to be working now on IAS, so closing for now.

[2022-01-21 16:33] #231 closed, assigned to nobody

[2022-01-25 17:47] dgarciabriseno commented on #329
the data source in the database only shows the LASCO C3 as requested. Will try to reproduce

[2022-01-25 18:03] dgarciabriseno commented on #329
there seems to be a problem with syncing the movie requests with the layers. This issue comes sporadically, sometimes it will generate the video with the correct layers, and sometimes it won't.

[2022-01-25 19:44] Anthrwpos commented on #319
Hi, again [flow](https://helioviewer.org/?movieId=JV2N5) is with gap.

[2022-01-26 16:06] dgarciabriseno commented on #329
Figured out what's going on here, the problem is with tracking which layers are displayed on TileLayerManager.js
Example:
- Add LASCO C3 layer [layer 0]
- Add EUVI layer [layer 1]
- Delete LASCO C3 layer <--- bug is here, existing layer tracking numbers must be updated
- Current Layers are: EUVI layer [still layer 1]
- Add LASCO C3 layer again [layer 1 (Kind of a bug?)]
- Attempt to make a movie,

[2022-01-26 16:07] dgarciabriseno commented on #329
This is a js issue so moving back to helioviewer.org

[2022-01-26 17:04] dgarciabriseno commented on #306
@wafels will need to see the cron job on helioviewer.org again

[2022-01-26 17:44] dgarciabriseno commented on #285
this has been merged.

[2022-01-26 17:44] #285 closed, assigned to nobody

[2022-01-26 17:45] #263 closed, assigned to nobody

[2022-01-28 14:45] btaylor-sesda commented on #318
I'm working on a fix to this that'll hide the components when the Celestial Bodies part of the tutorial shows. I've added an update to Tutorial.js in HVBeta to accommodate this. Testing.

[2022-01-28 17:40] dgarciabriseno commented on #302
Closing for now as events are currently working

[2022-01-28 17:40] #302 closed, assigned to nobody

[2022-01-29 18:19] Anthrwpos opened #330 "Again video flow is with gap."
Hi, again video [flow ](https://helioviewer.org/?movieId=MNDN5)is with gap.

[2022-01-31 15:39] dgarciabriseno commented on #330
Working on this today.

[2022-02-01 19:43] dgarciabriseno commented on #326
Will need more info to debug this. It is working for me

![image](https://user-images.githubusercontent.com/94071409/152039251-04cbf988-ec45-421c-b64e-7e747ba9055a.png)

[2022-02-02 13:04] wireeye opened #331 "No updating"
Greetings, All three Helioviewer pages, beta.helioviewer.org, helioviewer.ias.u-psud.fr, and helioviewer.org haven't updated past Jan. 29th, on the SOHO, LASCO filters. Today is Feb. 2nd, I just wanted to make you aware of this problem, so you can address it at your convenience. Thanks for your time in advance

Sincerely, wireeye

[2022-02-02 17:12] dgarciabriseno commented on #330
Sorry this took a while. It should be resolved over the next few days as new data comes in on helioviewer.org. The problem is with the available space we have remaining on helioviewer.org means we need to limit how much data we pull in. But there has been an issue with our scripts causing the gaps. I patched it before, but then had too much data coming in so I needed to revert that change. I appli

[2022-02-03 14:55] dgarciabriseno commented on #331
This has been resolved.

[2022-02-03 14:55] #331 closed, assigned to nobody

[2022-02-04 16:59] dgarciabriseno commented on #232
Fixed in 59b66b4d7d5acd0b384a444e7f161a2bdabc1e84 and cherry-picked on helioviewer.org

[2022-02-04 16:59] #232 closed, assigned to wafels

[2022-02-04 18:56] Anthrwpos commented on #330
Hi, still with gaps. Thanks

[2022-02-04 19:16] dgarciabriseno commented on #251
We should update this so that when these API calls return errors errors, we display a message saying a problem on our side has occurred.

[2022-02-08 18:50] dgarciabriseno commented on #306
Movies older than 90 days are removed, most likely this is the reason for the missing thumbnails.

[2022-02-08 19:01] dgarciabriseno commented on #306
When deleting movies we should only remove the .mp4, .flv, and .webm files so that we keep the png previews

[2022-02-08 19:12] dgarciabriseno commented on #306
@wafels Sent you a proposal over email to update the cron job to save thumbnails. Let me know if you think it's an appropriate solution.

[2022-02-08 19:15] wafels commented on #306
After how much time does the "regenerate" option kick in?

[2022-02-09 18:14] dgarciabriseno commented on #306
What do you mean by that?

[2022-02-09 18:50] dgarciabriseno commented on #250
Not sure if it's related, but I also get spurious errors on student.helioviewer.org. The UI seems to still function correctly, but the fact that the number of date queries is different seems suspicious, and also seems like it can cause the problem Kirill considered.

Javascript error: only one date query is done.
![image](https://user-images.githubusercontent.com/94071409/153269242-53f7b5d1-6c0e-4

[2022-02-09 20:01] wafels commented on #306
The screenshot shows an option to regenerate a movie. That means we deleted it on the server. How old does a movie have to be before it is deleted and the "regenerate" option is presented?

[2022-02-10 17:44] dgarciabriseno commented on #176
The placement is based off the refPixel defined by the jp2 file. Is this generated by sunpy?

[2022-02-12 20:48] Anthrwpos opened #333 "sdo.gsfc.nasa.gov/data/aiahmi/ full data video but helioviewer.org not"
Hi, why sdo.gsfc.nasa.gov/data/aiahmi/  have full data video, but helioviewer.org not? From the same source they collect data?

[2022-02-15 18:50] dgarciabriseno commented on #333
Same source, yes. But for the helioviewer application to work, we mirror a subset of the image data available.

[2022-02-15 18:51] dgarciabriseno commented on #330
A new patch was implemented on Feb 6, is the image data available between Feb 6 and now still skipping the way it was before?

[2022-02-15 18:52] dgarciabriseno commented on #326
@dzarro Any update on this?

[2022-02-15 18:55] dgarciabriseno commented on #306
Ah, I see. Regenerate option is set to 180 days. Seems like we should reduce that to 90. Is it okay that the thumbnails are missing for those older videos with the regenerate option?

[2022-02-16 18:08] dgarciabriseno commented on #326
Got an update from @dzarro offline that this is working now. Closing.

[2022-02-16 18:08] #326 closed, assigned to nobody

[2022-02-16 21:40] Anthrwpos commented on #330
Hi, sorry, now i saw your reply. Yes, as i saw it today, it skips almost 30 mins in SDO AIA.

[2022-02-17 20:00] dgarciabriseno commented on #330
At this time images from SDO on helioviewer are expected to be approximately 30 minutes apart. We're in the process of migrating to a new server where we'll be able to pull in data that's closer together.

[2022-02-23 20:26] wafels commented on #314
Helioviewer release 3.3.4 puts the Encounter number on the on-screen display:
![Screen Shot 2022-02-23 at 15 23 49](https://user-images.githubusercontent.com/983575/155402100-54901ba1-fb9e-47bb-b8af-0baad5b902ff.png)

It would be useful if the Celestial Body menu also showed the current, next and previous encounter numbers

![Screen Shot 2022-02-23 at 15 24 35](https://user-images.githubuserconten

[2022-02-23 22:08] wafels opened #334 "Regular 'About' text is dark"
The text in the 'About' pop-up is very dark in contrast to the background - see attached. It should be much brighter.
![Screen Shot 2022-02-23 at 17 06 23](https://user-images.githubusercontent.com/983575/155417255-7d857811-cb0b-4c0a-ad7f-6aef0685cf78.png)

[2022-02-23 22:11] wafels opened #335 "Icons don't show in interactive tutorial"
When you get to the Navigation Menu in the interactive tutorial the icons in the pop up don't show - see attached screenshot

![Screen Shot 2022-02-23 at 17 07 11](https://user-images.githubusercontent.com/983575/155417521-36f88c07-8710-4d6d-9eeb-c3ab7f0e3d3f.png)

[2022-02-23 22:15] wafels commented on #333
It is true that the ultimate source of the images seen in helioviewer.org and do.gsfc.nasa.gov/data/aiahmi/ is the same. However, the data processing pipelines that produce the images on either site are not the same. As was mentioned above, helioviewer.org provides a subset of all the image data available.

[2022-02-23 22:15] #333 closed, assigned to nobody

[2022-02-24 13:00] btaylor-sesda commented on #335
@wafels do you know where the icon image files are stored? The ones that aren't appearing, were previously hosted on the wiki server.

Example of a broken icon image:
https://wiki.helioviewer.org/w/images/c/c7/Icon-rss.png

[2022-02-24 15:12] wafels commented on #335
Ah, so that's the cause of the bug. There are some images here

https://github.com/Helioviewer-Project/helioviewer.org/tree/master/resources/images

but perhaps a better solution would be to refer to them the same way they are referred to in the main application?

[2022-02-25 21:21] Anthrwpos opened #336 "Update about new player in the new server"
Hi, with new player, the bar below (1), doesn't disappear when a video plays (only if it's full screen), and when i click on "play" (triangle) to play, i can't stop it with spacebar as with the previous player. It's easy to change that? Thanks
![Untitghled](https://user-images.githubusercontent.com/20747347/155804251-a6276d5d-0bf6-45a8-9a51-701415dac999.png)

[2022-02-28 22:38] wafels opened #337 "Include Solar Orbiter paths in helioviewer.org"
Issue https://github.com/Helioviewer-Project/hvorgobjects/issues/17 tracks the development of the position of Solar Orbiter as seen from different points of view.

Similar to PSP, Solar Orbiter paths should be in plotted in helioviewer.org using a similar interface.

[2022-03-01 19:56] btaylor-sesda commented on #335
It should be fixed now.
https://beta.helioviewer.org/

![image](https://user-images.githubusercontent.com/87322123/156239253-1d9037e0-61f0-4770-8d55-222e693e48cc.png)

[2022-03-01 19:56] #335 closed, assigned to btaylor-sesda

[2022-03-01 20:53] btaylor-sesda commented on #334
This should be fixed now.
https://beta.helioviewer.org/

![image](https://user-images.githubusercontent.com/87322123/156247031-61640a2d-04e0-40ea-949a-70c09682853b.png)

[2022-03-01 20:53] #334 closed, assigned to btaylor-sesda

[2022-03-01 21:12] wafels opened #338 "Some text and icons are dark"
At the top of the included screenshot, the text "AIA 1700" is dark against the background. Also, the "down triangle" next to it is also dark. Similarly on the left, "LASCO C3 " plus down triangle, "HEK", and "SOHO" are all too dark. In addition, the "H" icon and "image" icon on the right are too dark against the background.

![Screen Shot 2022-03-01 at 16 07 44](https://user-images.githubuserconte

[2022-03-01 22:06] btaylor-sesda commented on #338
This looks like the result of when jQuery UI was updated from 1.12.1 to 1.13.1

A couple of icon files are being called that don't exist anymore. I'll play around with the existing files, create a few new ones with the correct colors, and hopefully that'll fix the issue.

[2022-03-02 15:33] btaylor-sesda commented on #338
@wafels I updated these in beta. I'll keep this ticket open for a week in case we find more examples.
https://beta.helioviewer.org/

[2022-03-08 18:13] btaylor-sesda commented on #314
@wafels I've added the update to Beta.

![image](https://user-images.githubusercontent.com/87322123/157299922-5449e47a-2f34-4fd9-a4fa-fbbe3cf009c3.png)

[2022-03-09 19:42] dgarciabriseno commented on #336
Thanks for the report! This is fixed on helioviewer.org & beta.helioviewer.org now.
The control bar will disappear and you can play/pause with spacebar.

[2022-03-09 19:42] #336 closed, assigned to nobody

[2022-03-09 19:43] dgarciabriseno commented on #338
@btaylor-sesda Do you know which commit fixes this so I can cherry-pick it to helioviewer.org?

[2022-03-10 14:49] btaylor-sesda commented on #338
@dgarciabriseno The following are files/folders that need to be updated to the production server for this issue.
As a result of inconsistencies from the jQuery UI upgrade to 1.13.1, I'm expecting more unknown icon/text style issues may need to be resolved.

**File:** dialogs.css
**Last commit for this issue:** ddb3965773ae1632e8dc1975a3f487f22c046b95

-----
**File:** dot-luv.css
**Last commit for

[2022-03-11 00:38] Anthrwpos commented on #336
Thank you.

[2022-03-11 18:44] dgarciabriseno commented on #338
Pulled onto helioviewer.org

[2022-03-11 18:44] #338 closed, assigned to btaylor-sesda

[2022-03-11 20:42] dgarciabriseno commented on #306
This is fixed in addb4eeb2d0e4718b79ab5cd87b41d66fddbcc00
On the condition that we don't expect movies older than 90 days to have a thumbnail.

[2022-03-11 23:06] Anthrwpos opened #342 "No data/image from https://helioviewer.org/"
Hi, there is no image from https://helioviewer.org/ , but the date is current. It's from server? Thanks

[2022-03-14 16:17] dgarciabriseno commented on #342
Looking into this now.

[2022-03-14 18:11] dgarciabriseno commented on #342
This should be working now. Ran out of disk space on the drive that holds the tiles that get rendered.

[2022-03-14 18:11] #342 closed, assigned to nobody

[2022-03-14 18:39] wafels commented on #317
@wireeye - The issue for STEREO-A COR1 and COR2 is outside the control of Helioviewer. STEREO downloads science-quality data at a very low cadence, so a three day delay is not unusual. This is part of nominal mission operations. SDO downloads data constantly, and so it is common for SDO images to have a relatively short delay compared to real time. SOHO has several downloads a day and so it is com

[2022-03-14 18:40] wafels commented on #317
The features and events from the HEK seem to be updating correctly (as of the time of this comment). Closing this issue.

[2022-03-14 18:40] #317 closed, assigned to nobody

[2022-03-15 14:14] dgarciabriseno commented on #136
Updating findings here, we tried some brightness correction on Helioviewer-Project/api#100 but if you see the results it's not great. At least for AIA 1600 the problem isn't just the brightness, but the quality of the jp2000 image generated by lmsal. Our AIA 1600 images are dark, but even with brightness correction they don't look great.

This is the AIA 1600 JP2 image we're working with:
<img src

[2022-03-16 15:40] farm24 commented on #136
[the images arre perfectly fine on the SDO site ](https://sdo.gsfc.nasa.gov/assets/img/latest/latest_4096_1600.jpg)

so that makes me think its helioviewer that is the problem

[2022-03-16 16:04] bogdanni commented on #136
On SDO site surely the response correction is applied on the FITS data before converting to 8-bit for creating images.
IMHO, this is what should be done also for Helioviewer JP2s. Amplifying darkish 8-bit images will not go very far.

[2022-03-16 16:08] wafels commented on #136
The images that are on the SDO site come from using different processing steps compared to the ones used by Helioviewer. We are working to implement the processing steps used to deliver the AIA 1600 images on the SDO site in the pipeline that is used by Helioviewer. As @bogdanni suggests the fix is probably best implemented by changed the FITS to JP2 processing steps, as opposed to a post-correcti

[2022-05-03 18:16] Anthrwpos commented on #336
Hi, about the player in the new server, again the same. the bar (1), doesn't disappear when a video plays (only if it's full screen), and when i click on "play" (triangle) to play, i can't stop it with spacebar as with the previous player. It's easy to change that? Thanks

[2022-05-03 18:17] Anthrwpos opened #344 "About the player in the new server"
Hi, about the player in the new server, again the same. the bar (1), doesn't disappear when a video plays (only if it's full screen), and when i click on "play" (triangle) to play, i can't stop it with spacebar as with the previous player. It's easy to change that? Thanks

_Originally posted by @Anthrwpos in https://github.com/Helioviewer-Project/helioviewer.org/issues/336#issuecomment-1116411629_

[2022-05-04 14:41] dgarciabriseno commented on #336
Hello, this was a mistake on my part, front end wasn't updated to latest. This feature is back now.

[2022-05-05 17:38] Anthrwpos commented on #336
Thanks

[2022-05-10 12:53] wafels opened #345 "helioviewer.org starts up with the same date all the time"
A user has reported that on launching helioviewer.org it always goes to the same date 2022/03/03 05:00. The correct behavior should be to go to the current UT time on launch.

[2022-05-10 14:43] btaylor-sesda commented on #345
@wafels It looks like the problem is that the PSP encounter updates are triggered even when neither SOHO or Stereo-A's PSP selection is made. So it needs a conditional to check whether or not PSP is selected onload - and then if checked, it should run the encounter piece. I added the fix to develop.helioviewer and beta.helioviewer but I'm still working on it.

[2022-05-10 14:59] dgarciabriseno commented on #345
@btaylor-sesda let me know when the patch is ready and I'll merge it in

[2022-05-10 16:36] btaylor-sesda commented on #345
@wafels @dgarciabriseno the fix should be in place now. Let me know if it's not working properly. The only file updated was resources/js/CustomHandling/CustomHandling.js

[2022-05-10 17:10] dgarciabriseno commented on #345
Updated the server with the change.

[2022-05-10 17:10] #345 closed, assigned to btaylor-sesda, dgarciabriseno

[2022-05-17 12:47] dgarciabriseno commented on #344
This is working now.

[2022-05-17 12:47] #344 closed, assigned to nobody

[2022-05-19 22:34] ebuchlin commented on #292
Video upload to YouTube should work now, however Google imposes these videos to remain private (it is impossible to share them). There is some procedure we need to do with Google. @GSFC, any advice on this? (see #270).

[2022-05-23 17:52] wafels opened #348 "SPoCA feature outlines are not being shown for recent SPoCA detections"
SPoCA features should have a shape attached which shows the the shape of the feature detected by SPoCA. The 2012 image below shows these features - see the big yellow shape in the image below for the coronal hole (CH).

![2012_05_06_22_02_49_AIA_211](https://user-images.githubusercontent.com/983575/169878271-e383db56-8137-4cc5-aa4a-03923f81c475.png)

SPoCA active regions (AR) are shown using pink

[2022-05-23 18:19] btaylor-sesda commented on #348
@wafels The recent PNG images that are supposed to show the shapes, are not found on the server for some reason. @dgarciabriseno can we check to see where the disconnect may be?

Not showing (new):
https://helioviewer.org/cache/events/2022/05/22/ivo%253A%252F%252Fhelio-informatics.org%252FCH_SPoCA_20220523_161033_20220522T190005_5.png

Is showing (old)
https://helioviewer.org/cache/events/2012/05/

[2022-05-23 18:24] dgarciabriseno commented on #348
Let me check

[2022-05-23 18:36] dgarciabriseno commented on #348
It looks like this is something that was missed in the migration. @wafels do you know what script downloads these pngs? They're there up until May 2nd, looks like I missed this.

[2022-05-23 19:05] dgarciabriseno commented on #348
Looks like it's from event_cache.sh but it's missing the json files that it uses to get the pngs. Working on this now.

[2022-05-23 19:50] dgarciabriseno commented on #348
The problem was permissions on that events directory. I fixed this and ran the import script and these pngs should be back now.

[2022-05-23 19:50] #348 closed, assigned to btaylor-sesda, dgarciabriseno

[2022-05-24 20:13] Anthrwpos opened #349 "I can not center the image from STEREO-A with the button, only manually"

[2022-05-25 15:04] dgarciabriseno commented on #349
@Anthrwpos can you share the date/time/instrument that you're looking at? Use the share viewport button on the top right.

[2022-05-25 15:21] btaylor-sesda commented on #349
@Anthrwpos Unfortunately I'm having trouble replicating the issue.

Along with @dgarciabriseno's inquiry of the date, time, and instruments selected, what device type/version (smartphone, tablet, or PC/laptop) and browser are you using?

[2022-05-25 15:51] wafels opened #350 "Change the contact address"
The "Contact" email address in the "?" pop-up menu should go to my regular work address. The change should be online before June 20, 2022.

[2022-05-25 18:52] btaylor-sesda commented on #350
The current plan is to update the /resources/js/Utility/Config.js file, so that the **contact_email** parameter is changed from contact@helioviewer.org to HelioViewerDevelopment@nasa.onmicrosoft.com

[2022-05-25 21:03] Anthrwpos commented on #349
Hi, maybe you can't, because I can center the image from STEREO-A now. Does anyone change something or it was for that moment? I don't know.

[2022-05-25 21:04] Anthrwpos commented on #349
Hi, it's fine now. But, what have to do the time and date with the instrument about my question? Thanks

[2022-05-26 12:36] dgarciabriseno commented on #349
Closing since it seems to be fine now.

@Anthrwpos since I couldn't reproduce the issue myself, the next step with debugging would be to get helioviewer as close to what you were running when the issue happened. Hence the time/date/instrument.

[2022-05-26 12:36] #349 closed, assigned to btaylor-sesda

[2022-05-29 23:28] DawnMarieMueller opened #352 "Helioviewer & France mirror stalled loading current images"
Hello to whomever is managing the Helioviewer project these days!

Beginning yesterday 2022-May-28, I am able to access Helioviewer.org and the IAS mirror, but I am able load & manipulate images only up to 16:51:41 UTC on Helioviewer.org and 17:21:41 on mirror https://helioviewer.ias.u-psud.fr/ , for example, for SDO AIA 304.

Helioviewer is not loading images more current than those approximate t

[2022-05-30 11:10] wafels commented on #352
Hello, and thank you for the report.

At the moment, LASCO images appear to be arriving at Helioviewer within expectations. STEREO images are also arriving within expectations (STEREO images can be days behind real time).

SDO images are still delayed.  I am looking into the cause of this.

[2022-05-30 16:55] DawnMarieMueller commented on #352
Thank you, Jack.

I greatly appreciate it.

I realize it's a holiday
weekend.

Things happen.

:)

Kind regards,

Dawn

-------------------------

On Mon, 30 May 2022 04:10:44 -0700, Jack
Ireland  wrote:

Hello, and thank you for the report.

At the moment,
LASCO images appear to be arriving at Helioviewer within expectations.
STEREO images are also arriving within expectations (STEREO images can

[2022-05-31 16:22] wafels commented on #352
SDO images are now catching up. It may take some time for the more recent images to appear.

[2022-05-31 19:57] DawnMarieMueller commented on #352
Very good, Jack!

Thank you for letting me know.

My apologies for
bugging you on a federal holiday weekend.

Have a sunny week! :)

Kind
regards

Dawn

Dawn Marie Mueller

Crystal Lake, Illinois

phone: (779)
713-3893

email: ***@***.***

Twitter: @MagnetoDawn

-------------------------

On Tue, 31 May 2022 09:22:21 -0700, Jack
Ireland  wrote:

SDO images are now catching up. It may take some tim

[2022-06-01 15:12] wafels commented on #352
Closed since images are back to close to real-time.

[2022-06-01 15:12] #352 closed, assigned to nobody

[2022-06-13 17:30] wafels opened #353 "Re-centering button"
It's easy to move the sun or any image out of the viewer window. A re-centering button would allow the view to snap back to the center of the Sun. helioviewer.org has this function

[2022-06-13 17:32] wafels opened #354 "Earth/size scale button"
Helioviewer.org has an Earth scale / length scale feature so users can get an idea of the size of a feature. Perhaps the mobile version should also have this feature.

[2022-06-13 17:38] wafels opened #355 "All components of the date and time should all be selectable"
The full specification of the observation time - year-month-day hours-minutes-seconds - should always be onscreen and all components should be selectable. This allows users to exactly specify the time they want. At time of writing the earliest images are from 1991.

[2022-06-13 17:42] wafels opened #356 "Need a "Jump" dialog"
This a feature request for mobile. At the moment the mobile version of helioviewer allows you to jump forward and backwards by one day. The desktop version of helioviewer.org allows you to specify how much forwards and backwards in time you can jump. A small number of jumps are selectable. This jump dialog should be in the mobile version too.

[2022-06-13 20:21] wafels opened #357 "Movie Making on Mobile"
After playing around with the movie creation I think we can drop the ability to "Select Area" and always use full viewport. The reason to do this is that it the user is always going to be looking at something interesting on a small screen so the user has already selected an area of interest.

Movie creation seems to work just fine. A couple of things 1. I didn't get a notification that the movie w

[2022-06-13 20:23] wafels opened #358 "Allow "take a screenshot" but use "full viewport" only."
The reasons for this are basically the same as for movies - see issue #357.

[2022-06-13 20:37] wafels opened #359 "Feature and event pop-ups don't pop up on mobile"
Features and events are shown on mobile on screen, but you can't click on them and get any more information. It would be good if the pop-ups that appear on the desktop version also appear on the mobile version.

[2022-06-14 13:51] wafels commented on #357
The movie I made took one minute to make. That's pretty fast, but maybe that was due to me being the only person trying to make a movie. I downloaded the movie and then uploaded it to a friend on Instagram. So making it easy to download movies and share them might be a good way to go.

[2022-06-14 14:05] btaylor-sesda commented on #357
@wafels Specifically with Instagram, I'm not sure there is an easier way than directly uploading movies from your device.

[2022-06-15 15:49] wafels opened #360 "Continuously zoomable images"
This image:

https://www.sidc.be/EUI/pictures/20220307_hrieuv_mosaic/

is continuously zoomable and relies on this library:

http://openseadragon.github.io/

Should this be implemented in Helioviewer, and if it is, how would this affect the screenshot and movie making capability? And positioning of features and events....

[2022-06-22 20:09] Anthrwpos opened #361 "The duration 28 days and 1 week, is not even that long"
(I think it's not an issue, but i want to ask)
Hi, why the duration of 28 days (actually is 14 days) and 1 week (actually is 3 and half days), it's not even that long in the videos results?
Thanks

[2022-06-23 17:16] dgarciabriseno commented on #361
When you create a movie using the duration dropdown, it splits the time evenly before and after the current observation date.

So if I'm looking at a movie on 2022-05-15 and choose 28 days, then it will generate a movie from 2022-05-01 to 2022-05-29, 14 days back and 14 days forward.

[2022-06-23 19:15] btaylor-sesda commented on #356
The added "Jump" functionality has been added to develop.helioviewer.org

[2022-06-23 19:15] #356 closed, assigned to btaylor-sesda

[2022-06-23 20:48] Anthrwpos commented on #361
Hi, to be honest, i don't see answer to the question, or i didn't understand. If "_it splits the time evenly before and after the current observation date._", then, why doesn't write "14 days"? About "_then it will generate a movie from 2022-05-01 to 2022-05-29, 14 days back and 14 days forward._" but it's 14 days, not 1 month. I don't get it.
Thanks

[2022-06-24 15:36] btaylor-sesda commented on #354
This functionality has now been added to the mobile menu portion of develop.helioviewer.org

[2022-06-24 15:36] #354 closed, assigned to btaylor-sesda

[2022-06-24 16:52] dgarciabriseno commented on #361
You are selecting the *duration* of the video.
The current display in the viewport is chosen as the middle of the video.

In the example we're discussing, when you select a duration of 28 days, then `14 days back + 14 days forward = 28 days`.

[2022-06-27 13:18] wafels opened #363 "Earth/scale inset don't appear on mobile."
I think the Earth/scale indicator doesn't have to be able to move when on a mobile phone. Also, is it possible to make it toggle between Earth / distance / off on the main screen? How would that work?

[2022-06-27 22:26] Anthrwpos commented on #361
I can't understand the "14 days back + 14 days forward = 28 days". In [this ](https://helioviewer.org/?movieId=Tz8N5)video, the duration is from 7/6/2022 to 21/6/2022= 14 days, where in this is 14 days back + 14 days forward? It's not like "28 Earths days"?
Thanks

[2022-06-28 15:43] wafels opened #365 "Remove link to "legacy.helioviewer.org""
The "?" icon pops up a menu with a link to "legacy.helioviewer.org". This should be removed from the menu. Not really a bug I suppose but legacy.helioviewer.org does not exist.

[2022-06-29 18:13] #314 closed, assigned to btaylor-sesda

[2022-06-29 18:46] btaylor-sesda commented on #350
This change has been added to the live server.

[2022-06-29 18:46] #350 closed, assigned to btaylor-sesda

[2022-06-30 17:59] btaylor-sesda commented on #365
The update has been made to https://beta.helioviewer.org/ in the resources/js/CustomHandling/CustomHandling.js file.

@dgarciabriseno can you push the file to prod?

[2022-06-30 18:41] dgarciabriseno commented on #361
So you are saying that you went to generate a movie with duration set to 28 days.

![Observation date 2022-06-23, Duration 28 days](https://user-images.githubusercontent.com/94071409/176753316-72394d21-fcf1-4028-aaf3-e8968fdd2441.png)

And the resulting movie was not over a 28 day range?

![image](https://user-images.githubusercontent.com/94071409/176753539-51037151-101b-49a8-9ea6-11a59dfb0346.png

[2022-06-30 18:43] dgarciabriseno commented on #361
Is this behavior consistent?

I do see a potential way this could happen
If you go into advanced settings, change the time, go back to less settings, then click ok to submit the movie. Then time range that was set in advanced settings will be used instead of the selected duration.

@btaylor-sesda Can you fix this? The time range needs to be updated when you click "Less Settings" to whatever the se

[2022-06-30 18:50] dgarciabriseno commented on #365
@btaylor-sesda Wouldn't it be better to delete the html rather than just set it to `display: none`?

[2022-07-01 02:50] Anthrwpos commented on #361
Yes, the result is not 28 days, it's 14. In your observation date, did you saw the video and is 28 days or only you show me this image?

[2022-07-01 13:38] dgarciabriseno commented on #361
Ah I see. Sorry, I was only looking at the request times, not the actual result times.
I understand the problem now. The video is not 28 days. And any video made when observing today's date will not be 28 days. It will be like you said, half the time.
The reason it is only half the time is because like I said, Helioviewer will request a video that is 14 days behind and 14 ahead of the current obse

[2022-07-01 13:50] wafels commented on #361
I like the idea of setting "beginning, middle or end" as long as the default is "middle". Maybe this can go in 'Advanced Settings'?

[2022-07-01 13:51] dgarciabriseno commented on #361
Advanced Settings let's you set the start and end time, I don't think it needs any other options. For the simple settings beginning/middle/end would be good.

[2022-07-01 14:15] wafels opened #366 "CCMC Flare Scoreboard data in Helioviewer"
The CCMC has information on flare prediction. It is

https://ccmc.gsfc.nasa.gov/scoreboards/flare/

This information can be presented in helioviewer in a similar way to current features and events, and would be a useful addition to the site.

[2022-07-01 14:26] wafels commented on #366
Could add the Flare Scoreboard predictions under "Features and Events"

![Screen Shot 2022-07-01 at 10 23 52](https://user-images.githubusercontent.com/983575/176913324-c6ec6a97-4299-4ad7-820e-cd414069aec0.png)

This would also be a place to perhaps put DONKI notifications (#186) and potential models of interest.

[2022-07-01 14:30] wafels opened #367 "CCMC Model runs linked from Helioviewer"
The CCMC has a number of model runs that users of Helioviewer may be interested in. For example, some model runs show how a CME propagated through interplanetary space. Users who are already interested in CMEs may also be interested in those model runs that show that. We could provide links to those model runs based on the image and time range selected by the user.

[2022-07-01 14:49] wafels commented on #366
There is some positional information too with the flare prediction

![Screen Shot 2022-07-01 at 10 47 42](https://user-images.githubusercontent.com/983575/176917745-a1c7969f-3463-4e3c-9b49-e78f40ae418a.png)

[2022-07-01 15:07] wafels commented on #366
On helioviewer underneath HEK we could have "Flare Predictions" and then we have a list of all the flare prediction algorithms with checkboxes. They would show up in the viewing window in a similar way to the HEK events with pop-ups and so on. Instead of a map pin, maybe we have a different symbol for predictions.

[2022-07-01 16:34] #365 closed, assigned to btaylor-sesda

[2022-07-01 22:35] Anthrwpos commented on #361
This [video](https://helioviewer.org/?movieId=ML8N5) is requested as 28 days but it came as 14 days again, even if there is available data for each day.
I still don't understand, what do you mean about "14 days back, and 14 days forward", it doesn't make sense for me, from the moment I apply for 28 days and not for 14 days.
Sorry for repeating this topic, but I would like to understand it better i

[2022-07-01 23:04] btaylor-sesda commented on #358
develop.helioviewer.org has now been updated with this change..

[2022-07-01 23:04] #358 closed, assigned to btaylor-sesda

[2022-07-05 13:38] wafels opened #368 "Other CCMC scoreboards"
The CCMC flare scoreboard (#366) is just one of a few. The others are here:

https://ccmc.gsfc.nasa.gov/scoreboards/

They may not all be suitable for helioviewer. The ones that are will need access to an API to get the information needed. From there we'll have to decide what information is shown and how.

[2022-07-05 14:03] dgarciabriseno commented on #361
Actually, right now for EUVI, 2022-06-28 23:57:00 is the latest available images.

"14 days back, and 14 days forward" from the observation date means starting with the current image you're looking at in the viewport, that image should the exact middle of the video that gets created.

See [this video](https://helioviewer.org/?movieId=m48N5) I created with this [viewport](https://bit.ly/3bRSPsr). C

[2022-07-05 14:12] dgarciabriseno opened #369 "I have lots of movie history, but can't scroll down."
https://user-images.githubusercontent.com/94071409/177348013-3e447249-6d80-45e4-9604-df56134e4f8b.mov

[2022-07-05 22:43] Anthrwpos commented on #361
So, what it matters, is the viewport? I mean, if i 'create' 2 videos, 1 from far and the other from close up, the resault from far will be 28 days because it collect more data, but from close up, no, becasuse from the spesific viewpoint, maybe it has not the same amount of data? Correct?

But [here](https://helioviewer.org/?date=2022-06-28T23:55:45.000Z&imageScale=4.84088176&centerX=-96.8176352000

[2022-07-06 11:51] dgarciabriseno commented on #361
data before 28/6/22 is available, but data after is not.

It's not how far or close up. It is the *date* set in the viewport.

Here, the latest data is 28/6/22
![image](https://user-images.githubusercontent.com/94071409/177542389-e9c16d76-48cf-4b3a-a203-a4a44f1af220.png)

When requesting a video, it attempts to put 28/6/22 in the middle of the video.
The video helioviewer tries to create when the

[2022-07-09 01:39] Anthrwpos commented on #361
I think i understand from your latest reply. It's, if one day from entire video (and same from other days), have some hours missing (?).
Thanks for your time and sorry.

[2022-07-15 20:01] wafels commented on #360
Features and events are doable:

http://openseadragon.github.io/examples/ui-overlays/

[2022-07-15 20:03] wafels commented on #360
A typical helioviewer viewer window would include multiple layers, features and events and labels. Transparency also needs to be included in order to make sure that the Sun is visible in the center of coronagraph images.

[2022-07-26 14:54] dgarciabriseno opened #370 "Cut out service sends bad API requests when selection is not on the sun"
Request
[code]

Result
[code]

[2022-07-29 16:53] dgarciabriseno commented on #370
Following the trail on this.
I found that kdu_expand is expanding the images down to nothing...
From my local testing so far: `11998945421549118743.pgm: Netpbm image data, size = 0 x 0, rawbits, greymap`
When attempting to load this into image magick, I get the above error. Need to follow the parameters to see what's getting passed to kdu_expand

[2022-07-29 16:56] dgarciabriseno commented on #370
Yep, getting this for `"{<top>,<left>},{<height>,<width>}"`
`{2.2353,1.4504},{0,0}`

Following how these arguments are computed.

[2022-07-29 17:24] dgarciabriseno commented on #370
[code]
The above region is passed to the API.
This region at imageScale 18 for source 13 (AIA 304) is just black space.

I think these are coming from the cut-out service in the UI because that seem to be where the takeScreenshot requests with the scales set to 0 and display=true come from.

It seems to me this error is completely valid since the front end is sending bogus requests.

[2022-07-29 18:23] dgarciabriseno commented on #370
Ideally the front end shouldn't send any API request if the selection is out of bounds.
It handles out-of-bounds for taking screenshots, but not for the Cut out service as shown below.

<img width="408" alt="image" src="https://user-images.githubusercontent.com/94071409/181821368-4e8a4f1f-c338-4e89-9c44-bb5f467f1160.png">

[2022-08-02 17:02] dgarciabriseno opened #371 "Helioviewer sometimes sends out of bound requests"
Similar to #370, but more general.
The front end made a getTile request with x=-1, y=1 where the maximum y should have been 0. y1 results in an out of bound request.

API Request:
[code]
Readable query string parameters:
[code]

This results in region:
[code]

Notice the "top" is out of bounds since the max should be 1, and the width is 0.
This results an error trying to process it.

[2022-08-03 11:55] btaylor-sesda commented on #369
@dgarciabriseno I added an overflow and max-height to the div in develop.helioviewer.org so it should give a default scrollbar when this happens.

Update made to:
resources/css/media-manager.css

[2022-08-03 11:55] #369 closed, assigned to btaylor-sesda

[2022-08-03 12:02] dgarciabriseno commented on #369
I saw you made the change on beta, I'll update it on prod.

On a side note, not a big deal but you have some trailing whitespace in the file.
You can set up your editor to automatically trim trailing whitespace.

[2022-08-03 13:06] dgarciabriseno opened #372 "Helioviewer should alert the user that no data is available"
When you use the base diff option on the source selector, you can enter a date that we don't have images for.
When this happens the sun disappears without any further information.

https://user-images.githubusercontent.com/94071409/182615178-46a3762f-61cd-4c77-9e21-96a00e29586e.mov

[2022-08-03 13:07] dgarciabriseno commented on #372
The error message is sent back with the API request. We should use the alert feature we have to display the message.

[2022-08-05 13:41] dgarciabriseno opened #373 "Front end requesting movie status for movie id 0"
Observed in the API log. Request came from helioviewer.org.
Front end should not be requesting id 11115. It's possible this is an API issue, but need to understand how the front end selects the ID to use.
[code]

[2022-08-18 19:42] wireeye opened #375 "SDO one day behind"
Greetings,
I noticed that your Images for the SDO is a day behind, thus I am unable to make an up-to-date video from this option. Is this issue being addressed? I just wanted to bring this matter to your attention, Have a good day :)
![Helioviewer org - Solar and heliospheric image visualization tool 2022-08-18](https://user-images.githubusercontent.com/35879228/185480503-41658338-d3b6-4bc9-b414-1

[2022-08-19 12:43] dgarciabriseno commented on #375
Sorry about that, it's catching up now.

[2022-08-30 21:45] wafels opened #379 "Feature/events in mobile don't show pop-up information"
Touching a feature/event on mobile does not pop-up any information. It should show the same information as what happens when clicking on it on desktop.

[2022-08-30 21:46] wafels commented on #379
Closed as duplicate of #359

[2022-08-30 21:47] #379 closed, assigned to btaylor-sesda

[2022-08-30 21:48] #375 closed, assigned to nobody

[2022-08-30 21:51] wafels opened #380 ""Request Science Data Download" should be removed from the "burger""
Not sure anyone will want to download science data on to their phone or tablet. This can be dropped from the mobile client.

[2022-08-30 21:57] wafels commented on #353
This is still useful as it is easy to get lost when zoomed in on LASCO data far off-disk.

[2022-08-31 13:45] btaylor-sesda commented on #380
The button has been removed from the menu.

[2022-08-31 13:45] #380 closed, assigned to btaylor-sesda

[2022-08-31 15:01] btaylor-sesda commented on #353
@wafels The re-centering button is in the hamburger menu.

Currently when clicked, the behavior closes the menu and then returns to the viewport with the desired effect.
Do we need to move the button or is it good where it is?

[2022-08-31 16:22] btaylor-sesda commented on #363
@wafels I moved the Earth/Scale indicator from the mobile menu to the viewport.

[2022-08-31 16:37] #363 closed, assigned to btaylor-sesda

[2022-09-12 15:07] btaylor-sesda commented on #359
@dgarciabriseno on dev, the toptouchlayer <div> you're using for the new zooming, is z-Index layered over those marker elements. So it looks to be blocking them from being accessed.

Perhaps setting a conditional so that the div is only layered on top when 2 fingers are touching the screen, would help. At least that's similar to what I was doing prior to your current zoom updates.

[2022-09-20 17:46] dgarciabriseno opened #383 "Can't exit viewing HEK data"
To Reproduce:
- Touch an event
- Touch view HEK data
- See inescapable element

<img width="520" alt="image" src="https://user-images.githubusercontent.com/94071409/191328127-b66c99d0-a925-4ec0-8361-43665aeb4426.png">

[2022-09-20 17:46] dgarciabriseno commented on #383
Also the data table looks pretty bad here too.

[2022-09-23 14:39] #353 closed, assigned to btaylor-sesda

[2022-10-21 17:48] #359 closed, assigned to btaylor-sesda, dgarciabriseno

[2022-10-21 17:51] wafels opened #385 "Feature/event pop-ups: HEK window cannot be closed"
Feature/event pop-ups have a link to the source HEK data. When that is clicked a window is opened that shows the data. However, there is no way to close the window.

[2022-10-21 17:56] wafels opened #386 "Feature/event pop-ups: "Hide empty rows" always in HEK window pop-up"
In the HEK feature/event pop-up, the "Hide empty rows" hides the empty rows. But on pressing it, the "Hide empty rows" text remains. The text should toggle between "Hide empty rows" and "Show empty rows" as appropriate. This issue affects the mobile and desktop versions of hv.org. The screenshots below demonstrate the issue.

![Screen Shot 2022-10-21 at 13 52 48](https://user-images.githubusercont

[2022-10-21 18:02] wafels opened #387 "Feature/event pop-ups: "copy start/end times to data download" should be suppressed on the mobile version"
It makes no sense to have a data download function on mobile. This could easily result on many GB of data being downloaded by mistake. This option should be suppressed on the mobile version.

[2022-10-21 19:24] wafels opened #388 "Share Viewport on Social Media does not work"
On mobile, it looks like the link to the current viewport doesn't work until you click the "shorten with bit.ly" button, and then the link that is shown is not shortened. The link should appear when the "Share Viewpoint on Social Media" has been opened, and bit.ly should also work.

[2022-10-21 19:46] wafels opened #389 "Remove Google+ from Social Media linking"
The hv.org "Share Link to social media" includes a link to Google+ . That doesn't exist anymore, and should be removed as a social media link.

[2022-10-21 19:54] wafels opened #390 "Shared to YouTube on mobile does not work"
This might be because there are no movies shared from the development site.

In any case, the desktop version has two categories of shared movies. The first is movies that span the observation date, and the second is the recently shared. Neither of these categories appear in the mobile version. The fact that the categories don't even appear may point to a flaw in the logic of how the sharing menu

[2022-10-21 20:20] wafels opened #391 "Celestial bodies pop-up does not work on mobile."
I checked this for the recent Venus and Mercury observations in LASCO C3. Clicking on the name "Venus" and "Mercury" did not bring the pop-up. In addition, the Parker Solar Probe pop-up did not work.

[2022-10-21 21:08] wafels opened #392 "Feature/event pop-ups : jumping to start end times don't work on mobile"
Feature and event pop-ups have start/end times that allow users to jump to start/end of an event.  They look like `|<-` and `->|` - see screenshot.

![Screen Shot 2022-10-21 at 17 06 37](https://user-images.githubusercontent.com/983575/197288760-51fa16c1-2188-4151-96d1-0b8a11ccd931.png)

These work on desktop, and should work on mobile.

[2022-10-21 21:20] wafels opened #393 "Movie making on mobile does not work"
It used to work, but it seems not to work anymore. Desktop movie creation seems to work ok.

[2022-10-21 21:26] wafels opened #394 "Manually entering a date on mobile does not result in data from that time being displayed"
A user manually entering a date on mobile wants to see the Sun at that date. hv.org on mobile should show data from that date. This functionality works on the desktop version.

[2022-10-21 23:06] btaylor-sesda commented on #385
This should be fixed now.
https://develop.helioviewer.org/

[2022-10-21 23:06] #385 closed, assigned to btaylor-sesda

[2022-10-21 23:08] btaylor-sesda commented on #394
The original behavior in the desktop version, lets the user change the date in the calendar and then once clicked-off of the calendar, the viewport changes accordingly. This should be fixed now.
https://develop.helioviewer.org/

[2022-10-21 23:08] #394 closed, assigned to btaylor-sesda

[2022-10-21 23:15] btaylor-sesda commented on #387
These should be removed from the popups now.
https://develop.helioviewer.org/

[2022-10-21 23:15] #387 closed, assigned to btaylor-sesda

[2022-10-21 23:21] btaylor-sesda commented on #383
Fixed

[2022-10-21 23:21] #383 closed, assigned to btaylor-sesda

[2022-10-21 23:44] btaylor-sesda commented on #393
It just worked for me. I'll look more into it.

[2022-10-21 23:50] btaylor-sesda commented on #389
Fixed

[2022-10-21 23:50] #389 closed, assigned to btaylor-sesda

[2022-10-24 11:42] btaylor-sesda commented on #386
I've made this update to https://develop.helioviewer.org/

[2022-10-24 11:42] #386 closed, assigned to btaylor-sesda

[2022-10-24 12:12] btaylor-sesda commented on #392
@wafels This should be fixed now. I noticed on develop.helioviewer.org, i had to navigate to 10/18/2022 before it started to work. But I think that may just be a data issue involving the developer server. Let me know if the arrow links are now working for you or not.

[2022-10-24 12:51] btaylor-sesda commented on #391
@wafels The pop-ups for the planetary bodies, should be working now. I'll try to get the PSP ones to work.

[2022-11-04 17:09] btaylor-sesda commented on #390
These two categories should appear now on mobile.
https://develop.helioviewer.org/

[2022-11-04 17:09] #390 closed, assigned to btaylor-sesda

[2022-11-07 18:52] wafels commented on #392
Confirmed as working.

[2022-11-07 18:57] wafels commented on #393
Confirmed as working (see also #357).

[2022-11-07 18:59] wafels opened #396 "Did not receive "movie completed" notification on mobile"
I was able to make a movie on mobile. However, the notification that it was complete did not pop-up in the main viewer window as expected. I was able to find the movie by going back in to the "Create a movie" menu and finding that it had completed.

[2022-11-07 19:13] wafels opened #397 "Can't scroll the movie making menu when phone is in landscape"
I was testing the movie-making capability on the mobile version while using landscape. I was unable to scroll the movie making menu down to the button that launches the movie making. This menu needs to be scrollable so it can be used.

[2022-11-07 20:19] #392 closed, assigned to btaylor-sesda

[2022-11-14 16:00] #393 closed, assigned to btaylor-sesda

[2022-11-14 17:57] btaylor-sesda commented on #397
This should be resolved now.
https://develop.helioviewer.org/

[2022-11-14 17:57] #397 closed, assigned to btaylor-sesda

[2022-11-14 19:17] wafels commented on #391
Still doesn't work for me :-(

[2022-11-17 19:09] btaylor-sesda commented on #391
@wafels In Browserstack, the pop-up showed for me when I selected iPhone XR.
I zoomed out, moved to the far left of the photo and clicked on the Mercury label.

![image](https://user-images.githubusercontent.com/87322123/202536230-28cbc6e7-8ccd-44d4-b99c-ee904a9fbab5.png)

[2022-11-21 19:57] wafels opened #398 "Need a "newest" button on mobile"
When landing on the mobile version of hv.org there should be a "newest" button that loads in the very latest images available.

[2022-11-22 17:00] btaylor-sesda opened #399 "Event Pop-Up links are clicked when in the process of clicking Event Markers"
When clicking on an event marker, the pop-up tends to show before the user fully executes the mouseup event.
When this happens, if the user's finger is currently above a link in the pop-up, it registers as a click on the link.

The event listener that triggers the pop-up needs to only execute on a full click on the element (the event marker/label).

The event pop-up's links should only execute a c

[2022-11-22 21:28] btaylor-sesda commented on #398
The Newest button should be there now.
https://develop.helioviewer.org/

[2022-11-22 21:28] #398 closed, assigned to btaylor-sesda

[2022-11-22 21:29] btaylor-sesda commented on #396
This should now show when using the movie creation on mobile.
https://develop.helioviewer.org/

[2022-11-22 21:29] #396 closed, assigned to btaylor-sesda

[2022-11-29 22:07] btaylor-sesda opened #401 "Opacity Controls on Mobile"
A request to add an opacity slider control to the viewport of Helioviewer Mobile.